/* CSS Document */
.tbl {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	border-collapse: collapse;
}
.tbl th {
	text-align: left;
}
tr.minus td {
	color: red;
}
.redtd {
	background-color: #ff;
}
.greentd {
	background-color: #090;
}
.edit{
	background-color:#FCEFE2;
}